#browser {
	min-height: 756px;
	max-height: 756px;
	background-color: $light-gray;
	position: relative;
	@media (max-width: 767px) {
		min-height: 700px;
	}
	@media (max-width: 575px) {
		min-height: 650px;
	}
	.container {
		margin-top: 100px;
		p {

		}
	}
	img {
		position: absolute;
		bottom: 0;

	}
}
