#features {
	background-color: $light-gray;
	.container {
		min-height: 675px;
		position: relative;
		.pen-holder {
			height: 329px;
			width: 291px;
			background: url("../img/pen-holder.png") no-repeat;
			position: absolute;
			left: -50px;
			top: -10px;
			@media (max-width: 991px) {
				left: -100px;
				top: -50px;
			}
			@media (max-width: 767px) {
				top: -50px;
				left: -50px;
			}
			@media (max-width: 575px) {
				display: none;
			}
		}
		.earphones {
			height: 221px;
			width: 165px;
			background: url("../img/earphones.png") no-repeat;
			position: absolute;
			background-repeat: no-repeat;
			right: 40px;
			top: -10px;
			@media (max-width: 991px) {
				right: -10px;
				top: -50px;
			}
			@media (max-width: 767px) {
				top: -50px;
			}
			@media (max-width: 575px) {
				display: none;
			}
		}
		.coffee-mug {
			height: 137px;
			width: 164px;
			background: url("../img/coffee-mug.png") no-repeat;
			position: absolute;
			right: -30px;
			bottom: -45px;
			@media (max-width: 575px) {
				display: none;
			}
		}
		.features {
			@media (max-width: 767px) {
				padding-top: 200px;
				padding-bottom: 160px;
			}
			@media (max-width: 575px) {
				padding-top: 80px;
				padding-bottom: 40px;
			}
			h2 {
				margin-bottom: 41px;
				@media (max-width: 767px) {
					margin-bottom: 62px;
				}
			}
			.features-item {
				padding-top: 40px;
				padding-bottom: 40px;
				img {
					margin-bottom: 27px;
					cursor: pointer;
				}
				img[src*="feature-1"] {
					transform: rotateZ(-45deg);
					transition: transform ease-in-out 350ms;
					&:hover {
					transform: rotateZ(0deg);
					}
				}
				img[src*="feature-2"] {
					transform: rotateX(180deg);
					transition: transform ease-in-out 500ms;
					&:hover {
					transform: rotateX(0deg);
					}
				}
				img[src*="feature-3"] {
					transform: rotateY(0deg);
					transition: transform ease-in-out 500ms;
					&:hover {
					transform: rotateY(180deg);
					}
				}
				h3 {
					margin-bottom: 11px;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
