#platforms {
	min-height: 724px;
	background-color: $light-gray;
	background-image: url("../img/triangle-platforms.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 40%;
	background-attachment: fixed;

	.platforms_item {
		padding: 150px 0;
		h2 {
			font-weight: 400;
			margin-bottom: 47px;
			span { padding-left: 10px; }
		}
		p {
			font-weight: 500;
			margin: 28px 0;
		}
	}

}
