//USER VARS
$white: #fff;
$black: #000;
$red: #ff6d6d;
$light-gray: #f6f5f3;
$medium-gray: #949494;
$purple: #323969;
$light-purple: #8084a1;
$body-text: #282828;


//BOOTSTRAP OVERRIDE
$brand-primary: $red;
$body-color: $body-text;

$font-family-sans-serif: Exo, Arial, sans-serif !default;

$font-size-h1: 60px !default;
$font-size-h2: 40px !default;
$font-size-h3: 22px !default;
$font-size-h4: 16px !default;
$small-font-size: 14px !default;
