//USER VARS
$white: #fff;
$light-gray: #f6f5f3;
$very-transparent-light-gray: rgba($light-gray, 0.1);
$semi-transparent-light-gray: rgba($light-gray, 0.5);
$medium-gray: #949494;
$dark-gray: #282828;
$black: #000;
$purple: #323969;
$light-purple: #8084a1;
$red: #ff6d6d;


//BOOTSTRAP OVERRIDE
$brand-primary: $red;
$body-color: $dark-gray;

$font-family-sans-serif: Exo, Arial, sans-serif !default;

$font-size-h1: 60px !default;
$font-size-h2: 40px !default;
$font-size-h3: 22px !default;
$font-size-h4: 16px !default;
$small-font-size: 14px !default;
